doctype html
html
  head
    title 網路飲料店
    link(rel='stylesheet', href='/stylesheets/style.css') 
    script(src='/javascripts/jquery-3.4.1.js') 
    script(src='/javascripts/main.js')
    block styles
    block scripts
  body
    h1.center 網路飲料店
    hr
    p
      | 
    block content
    p
      span#sessionCount